In [1]:
import pandas as pd
import numpy as np

In [2]:
data = '/Users/peterpicerelli/Desktop/Gitlab/GWDC201805DATA3-Class-Repository-DATA/Homework/04-Numpy-Pandas/Instructions/HeroesOfPymoli/purchase_data.json'

In [3]:
file = pd.read_json(data, orient='records')

In [4]:
file.head()

,Age,Gender,Item ID,Item Name,Price,SN
0,38,Male,165,Bone Crushing Silver Skewer,3.37,Aelalis34
1,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",2.32,Eolo46
2,34,Male,174,Primitive Blade,2.46,Assastnya25
3,21,Male,92,Final Critic,1.36,Pheusrical25
4,23,Male,63,Stormfury Mace,1.27,Aela59

In [5]:
players = file.loc[:, ["Age", "Gender", "SN"]]
players.head()

   Age Gender            SN
0   38   Male     Aelalis34
1   21   Male        Eolo46
2   34   Male   Assastnya25
3   21   Male  Pheusrical25
4   23   Male        Aela59

In [6]:
players = players.drop_duplicates()
totalplayers = players.count()[0]
totalplayers

573

In [7]:
pd.DataFrame({"Tot Players": [totalplayers]})

   Tot Players
0          573

In [8]:
Total = file['Price'].sum()
print (Total)

2286.33

In [9]:
avg_item_price = file["Price"].mean()
total_purchase_value = file["Price"].sum()
purchase_count = file["Price"].count()
item_count = len(file["Item ID"].unique())

In [10]:
purch_table = pd.DataFrame({"Number of Unique Items": item_count,
                               "Total Revenue": [total_purchase_value],
                               "Number of Purchases": [purchase_count],
                               "Average Purchase Price": [avg_item_price]})

In [11]:
print(purch_table)

   Number of Unique Items  Total Revenue  Number of Purchases  \
0                     183        2286.33                  780

   Average Purchase Price
0                2.931192

In [12]:
purch_table = purch_table.round(2)
purch_table ["Average Price"] = purch_table["Average Purchase Price"].map("${:,.2f}".format)
purch_table ["Total Revenue"] = purch_table["Total Revenue"].map("${:,.2f}".format)
purch_table = purch_table.loc[:, ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"]]

In [13]:
purch_table

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,2.93,780,"$2,286.33"

In [14]:
gender_demographics_totals = players["Gender"].value_counts()
gender_demographics_percents = gender_demographics_totals / totalplayers * 100

In [15]:
gender_demographics = pd.DataFrame({"Total Count": gender_demographics_totals,
                                    "Percentage of Players": gender_demographics_percents})

In [16]:
gender_demographics = gender_demographics.round(2)

In [17]:
gender_demographics

                       Total Count  Percentage of Players
Male                           465                  81.15
Female                         100                  17.45
Other / Non-Disclosed            8                   1.40

In [18]:
gender_purchase_total = file.groupby(["Gender"]).sum()["Price"].rename("Total Purchase Value")
gender_average = file.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Value")
gender_counts = file.groupby(["Gender"]).count()["Price"].rename("Purchase Count")

In [19]:
#Normalized ??????

In [20]:
gender_data = pd.DataFrame({ "Purchase Count": gender_counts, 
                            "Total Purchase Value": gender_purchase_total, 
                            "Average Purchase Value": gender_average})

In [21]:
gender_data

,Purchase Count,Total Purchase Value,Average Purchase Value
Gender,,,
Female,136,382.91,2.815515
Male,633,1867.68,2.950521
Other / Non-Disclosed,11,35.74,3.249091

In [22]:
age_bins = [0, 9.90, 14.90, 19.90, 24.9, 29.9, 34.90, 39.90, 9999999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", ">40"]

In [23]:
players["Age Ranges"] = pd.cut(players["Age"], age_bins, labels=group_names)
players.head()

   Age Gender            SN Age Ranges
0   38   Male     Aelalis34      35-39
1   21   Male        Eolo46      20-24
2   34   Male   Assastnya25      30-34
3   21   Male  Pheusrical25      20-24
4   23   Male        Aela59      20-24

In [24]:
user_total = file.groupby(["SN"]).sum()["Price"].rename("Tot Purchase Amount")
user_average = file.groupby(["SN"]).mean()["Price"].rename("Avg Purchase Price")
user_count = file.groupby(["SN"]).count()["Price"].rename("Purchase Count")

user_data = pd.DataFrame({"Tot Purchase Amount": user_total,
                          "Avg Purchase Price": user_average,
                          "Purchase Count": user_count})

In [25]:
user_data.sort_values("Tot Purchase Amount", ascending=False).head()

             Tot Purchase Amount  Avg Purchase Price  Purchase Count
SN
Undirrala66                17.06            3.412000               5
Saedue76                   13.56            3.390000               4
Mindimnya67                12.74            3.185000               4
Haellysu29                 12.73            4.243333               3
Eoda93                     11.58            3.860000               3

In [26]:
user_total = file.groupby(["Item ID", "Item Name"]).sum()["Price"]
user_total.head()

Item ID  Item Name
0        Splinter              1.82
1        Crucifer              9.12
2        Verdict               3.40
3        Phantomlight          1.79
4        Bloodlord's Fetish    2.28
Name: Price, dtype: float64